
.body {
    display: flex;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.container-content {
    border: 2px solid blue;
    width: 49%;
    float: left;
}

/* Container carousel */
.container-carousel {
    border: 2px solid #333;
    float: right;
    width: 50%;
}
    .carousel {
        max-width: 1200px;
        margin: auto;
        padding: 0 30px;
    }
        .items {
            line-height: 250px;
            text-align: center;
            color: #fff;
            font-size: 90px;
            font-weight: 600;
            margin: 20px 0;
            box-shadow: 0 4px 15px rgba(0,0,0,0.2);
            border-radius: 10px;
        }
            .item-1 {
                background-color: #ed1c24;
            }

            .item-2 {
                background-color: #0072bc;
            }

            .item-3 {
                background-color: #39b54a;
            }

            .item-4 {
                background-color: #f26522;
            }

            .item-5 {
                background-color: #630460;
            }
